astroid==1.4.6
click==6.6
colorama==0.3.7
Flask==0.11.1
ipdb==0.10.1
ipython==1.2.1
itsdangerous==0.24
Jinja2==2.8
lazy-object-proxy==1.2.2
MarkupSafe==0.23
numpy==1.11.1
py==1.4.31
pylint==1.5.6
pyreadline==2.1
pytest==2.9.2
six==1.10.0
virtualenv==15.0.2
Werkzeug==0.11.10
wrapt==1.10.8
