<!DOCTYPE html>
<html>
  <head lang="en">
    <meta charset="UTF-8">
    <title>stuckex</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
      <header id="pageHeader">
        <h1>StuckEx</h1>
      </header>
      <form id="searchInput" action = "{{url_for('searchForTicker')}}" method="POST">
        <input id="searchBox" type="text" name="symbol" placeholder="Search Symbol"/>
        <input id="searchButton" type="submit" value="Search"/>  {{searchError}}
      </form>
      {% block body %} {% endblock %}
      <div id="portfolio">
        <h3>Cash: ${{cash}}</h3>
        <table>
          <tr>
            <th>Company</th>
            <th>Number of Stocks</th>
          </tr>
          {% for ticker in portfolio %}
          <tr>
            <td>{{ticker.get('name')}}</td>
            <td>{{ticker.get('quantityOwned')}}</td>
          </tr>
          {% endfor %}
        </table>
      </div>
  </body>
</html>
